doctype html
html
    head
        //Copyright Ian Anderson Web Development 9/15/2016
        title Mary Cate Brown Graphic Design
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="styles.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Raleway:700|Roboto|Roboto+Condensed" rel="stylesheet")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
            
    body
        #wrapper
            .header
                .leftHeader    
                    h1 MARY CATE BROWN
                        span GRAPHIC DESIGNER
                .rightHeader
                    nav
                        ul
                            li.activeLink: a(href="/home.html") HOME
                            li: a(href="#") ABOUT
                            li: a(href="#") CONTACT
