html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #e7fef8;
}
html body #wrapper, body body #wrapper {
  margin: 0 65px;
}
html body #wrapper .header, body body #wrapper .header {
  display: inline-block;
  width: 100%;
  max-width: 960px;
  padding: 45px 0 35px 0;
  position: relative;
  transform: translate(-50%);
  left: 50%;
  text-align: center;
}
html body #wrapper .header .leftHeader h1, body body #wrapper .header .leftHeader h1 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  font-size: 3em;
}
html body #wrapper .header .leftHeader h1 span, body body #wrapper .header .leftHeader h1 span {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  display: block;
  font-size: 0.66667em;
  letter-spacing: 1px;
  color: #818181;
}
html body #wrapper .header .rightHeader, body body #wrapper .header .rightHeader {
  color: gray;
}
html body #wrapper .header .rightHeader nav, body body #wrapper .header .rightHeader nav {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  font-size: 1em;
}
html body #wrapper .header .rightHeader nav ul, body body #wrapper .header .rightHeader nav ul {
  margin: 0;
  padding: 0;
}
html body #wrapper .header .rightHeader nav ul li, body body #wrapper .header .rightHeader nav ul li {
  display: inline;
  padding: 3px 12px;
}
html body #wrapper .header .rightHeader nav ul li a:link, body body #wrapper .header .rightHeader nav ul li a:link {
  text-decoration: none;
  color: inherit;
}
html body #wrapper .header .rightHeader nav ul li a:visited, body body #wrapper .header .rightHeader nav ul li a:visited {
  color: black;
}
html body #wrapper .header .rightHeader nav ul li a:hover, body body #wrapper .header .rightHeader nav ul li a:hover {
  color: black;
  font-style: italic;
}
html body #wrapper .header .rightHeader nav ul li a:active, body body #wrapper .header .rightHeader nav ul li a:active {
  color: black;
}
html body #wrapper .header .rightHeader nav ul li.activeLink, body body #wrapper .header .rightHeader nav ul li.activeLink {
  background: #9ffff5;
  color: black;
  font-style: italic;
}
html body #wrapper #blurb, body body #wrapper #blurb {
  font-family: "Cormorant", serif;
  font-weight: 100;
  font-size: 1.75em;
  padding: 2em 3.5em 6em 3.5em;
  line-height: 1.4;
  max-width: 960px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
html body #wrapper #gallery, body body #wrapper #gallery {
  width: 100%;
  max-width: 960px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
  clear: both;
}
html body #wrapper #gallery ul.categories, body body #wrapper #gallery ul.categories {
  line-height: 0;
  padding: 0;
  margin: 0;
}
html body #wrapper #gallery ul.categories li, body body #wrapper #gallery ul.categories li {
  width: 100%;
  height: 150px;
  display: inline-block;
  float: left;
}
html body #wrapper #gallery ul.categories li a, body body #wrapper #gallery ul.categories li a {
  width: 100%;
  height: 100%;
}
html body #wrapper #gallery ul.categories li a img, body body #wrapper #gallery ul.categories li a img {
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(100%);
}
html body #wrapper #gallery ul.categories li a img:hover, body body #wrapper #gallery ul.categories li a img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
html body #wrapper #gallery ul.categories li a span.text-content, body body #wrapper #gallery ul.categories li a span.text-content {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 5px;
  color: black;
  cursor: pointer;
  display: table;
  position: absolute;
  top: 44%;
  width: 20%;
  min-height: 80px;
  background: white;
}
html body #wrapper #gallery ul.categories li a span.text-content span, body body #wrapper #gallery ul.categories li a span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
html body #wrapper #workContact, body body #wrapper #workContact {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  line-height: 1.4;
  text-align: center;
  max-width: 960px;
  margin: 4em auto;
}
html body #wrapper .footer, body body #wrapper .footer {
  border-top: 1px solid #cccccc;
  max-width: 960px;
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 2em auto;
}
